body {
    padding: 20px;
    color: black;

}

@media only screen and(max-witch:600px){
   body{
       background-color:yellow;
   }
   
}

@media only screen and(min-width:600px){
   body{
       background-color: green;
   }
}

@media only screen and(min-widtch:768){
   body{
       background-color: blue;
   }
}

@media only screen and (min-widtch:1200){
   body{
       background-color: red;
   }
}